* {
  box-sizing: border-box;
}

body, .textarea {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.textarea {
  display: block;
  width: 950px;
  height: 100%;
  margin: 150px auto 20px;
}

.hint {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.keyboard {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 1000px;
  background-color: #555555;
  position: relative;
  overflow: hidden;
  order: 2;
  padding: 5px;
  user-select: none;
}

.row {
  display: flex;
}

.key {
  display: inline-flex;
  background-color: black;
  color: white;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin: 2px;
  outline: none;
  position: relative;
}

.key.active {
  background-color: white;
  color: black;
}

.modifier {
  font-size: .8rem;
  padding-top: 30px;
}

#key-Backspace {
  width: 110px;
  padding-left: 60px; 
}

#key-Tab {
  width: 110px;
  padding-right: 70px;
}

#key-CapsLock {
  width: 120px;
  padding-right: 45px;
  position: relative;
}

#key-CapsLock.activatable::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: white;
  opacity: .2;
  top: 10px;
  left: 10px;
  border-radius: 4px; 
}
#key-CapsLock.active {
  background-color: black;
  color: white;
}
#key-CapsLock.active::after {
  background-color: greenyellow;
  opacity: 1;
}

#key-Enter {
  width: 120px;
  padding-left: 70px;
}

#key-Fn {
  padding-right: 20px;
}

#key-ShiftLeft {
  width: 147px;
  padding-right: 100px;
}

#key-ShiftRight {
  width: 147px;
  padding-left: 100px;
}

#key-Space {
  width: 316px;
}

#key-Command {
  width: 81px;
}

#key-ArrowLeft, 
#key-ArrowRight, 
#key-ArrowUp, 
#key-ArrowDown {
  padding: 0;
}

.half-key {
  width: 60px;
  height: 29px;
  margin: 2px 1px 1px 1px;
}



