* {
  box-sizing: border-box;
}

body, .textarea {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.title {
  display: block;
  height: 100%;
  text-align: center;
  margin: 100px auto 0;
  font-size: 2rem;
  color: black;
}

.textarea {
  display: block;
  width: 950px;
  height: 100%;
  margin: 30px auto 20px;
  outline: none;
  resize: none;
  font-size: 1.3rem;
}

.hint {
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

.delete-hint,
.music-hint {
  display: block;
  margin: 10px auto 0;
  text-align: center;
}

.keyboard {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 950px;
  background-color: #555555;
  position: relative;
  overflow: hidden;
  order: 2;
  padding: 5px;
  border-radius: 4px;
  border: none;
  user-select: none;
}

.row {
  display: flex;
}

.key {
  display: inline-flex;
  background-color: black;
  color: white;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin: 2px;
  outline: none;
  position: relative;
  transition: .2s;
}

.key.active {
  background-color: white;
  color: black;
}

.modifier {
  font-size: .8rem;
  padding-top: 30px;
}

#key-Backspace {
  width: 110px;
  padding-left: 55px; 
}

#key-Tab {
  width: 110px;
  padding-right: 70px;
}

#key-CapsLock {
  width: 120px;
  padding-right: 45px;
  position: relative;
}

#key-CapsLock.activatable::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: white;
  opacity: .2;
  top: 10px;
  left: 10px;
  border-radius: 5px; 
  transition: .2s;
}

#key-CapsLock.active {
  background-color: black;
  color: white;
}

#key-CapsLock.active::after {
  background-color: greenyellow;
  opacity: 1;
}

#key-Enter {
  width: 113px;
  padding-left: 60px;
}

#key-Enter span,
#key-AltLeft span {
  font-size: .7rem;
}

#key-AltRight span {
  font-size: .7rem;
  left: 7px;
}

#key-Fn {
  width: 63px;
  padding-right: 30px;
}

#key-ControlLeft,
#key-AltLeft,
#key-AltRight {
  width: 63px;
}

#key-ShiftLeft {
  width: 149px;
  padding-right: 100px;
}

#key-ShiftRight{
  width: 149px;
  padding-left: 100px;
}

#key-Space {
  width: 318px;
}

#key-MetaLeft,
#key-MetaRight {
  width: 78px;
  background-image: url('assets/icons/apple-keyboard-command-white-256.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

#key-MetaLeft {
  background-position: 60px 5px;
}

#key-MetaRight {
  background-position: 5px 5px;
}

#key-MetaLeft.key.active,
#key-MetaRight.key.active {
  background-image: url('assets/icons/apple-keyboard-command-black-256.png');
}

#key-ArrowLeft, 
#key-ArrowRight, 
#key-ArrowUp, 
#key-ArrowDown {
  padding: 0;
}

.half-key {
  width: 60px;
  height: 29px;
  margin: 2px 2px 2px 1px;
}

.touch-bar {
  height: 30px;
  width: 940px;
  margin: 2px auto;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 0 20px;
}

.touch-bar .key.emoji {
  width: 20px;
  height: 20px;
  margin: 4px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.touch-bar .key.emoji.active {
  opacity: 1;
  background-color: rgb(48, 48, 48);
}

.key span {
  font-size: .8rem; 
  position: absolute; 
  top: 5px; 
  right: 7px;
}

